.loder{
    padding-top: 20%;
}
.main{
padding-top: 10%;
}
.thumbnail img{
width: 100%;
}
.picborder{
    border: 2px solid #f7444e ;
    border-radius: 5px;
}
.btn{
    background-color: #f7444e;
    border: none;
    outline: none;
}
.btn:hover{
    background-color: #fc2e38;
}
.imgs{
    cursor: pointer;
}