.main{
   z-index: 1;
}
.blck{
    color: black;
}
.cart{
    background:none;
}
.hovr:hover{
    color: #f7444e;
    cursor: pointer;
}
.loginbtn{
    background-color: #f7444e;
    color: whitesmoke; 
}
.serch{
    width: 100%;
}
.serch input{
width: 75%;
border: none;
outline: none;
}
.serch button{
    border: none;
    outline: none;
    width: 20%;
    height: 40px;
    border-radius: 25px;
    background-color: #f7444e;
    color: white;
}
